@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

* {
  margin: 0;
  font-size: 20px;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  font-family: 'Patrick Hand';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e3e3e3;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' viewBox='0 0 192 192'%3E%3Cpath fill='%23a0afe7' fill-opacity='0.38' d='M192 15v2a11 11 0 0 0-11 11c0 1.94 1.16 4.75 2.53 6.11l2.36 2.36a6.93 6.93 0 0 1 1.22 7.56l-.43.84a8.08 8.08 0 0 1-6.66 4.13H145v35.02a6.1 6.1 0 0 0 3.03 4.87l.84.43c1.58.79 4 .4 5.24-.85l2.36-2.36a12.04 12.04 0 0 1 7.51-3.11 13 13 0 1 1 .02 26 12 12 0 0 1-7.53-3.11l-2.36-2.36a4.93 4.93 0 0 0-5.24-.85l-.84.43a6.1 6.1 0 0 0-3.03 4.87V143h35.02a8.08 8.08 0 0 1 6.66 4.13l.43.84a6.91 6.91 0 0 1-1.22 7.56l-2.36 2.36A10.06 10.06 0 0 0 181 164a11 11 0 0 0 11 11v2a13 13 0 0 1-13-13 12 12 0 0 1 3.11-7.53l2.36-2.36a4.93 4.93 0 0 0 .85-5.24l-.43-.84a6.1 6.1 0 0 0-4.87-3.03H145v35.02a8.08 8.08 0 0 1-4.13 6.66l-.84.43a6.91 6.91 0 0 1-7.56-1.22l-2.36-2.36A10.06 10.06 0 0 0 124 181a11 11 0 0 0-11 11h-2a13 13 0 0 1 13-13c2.47 0 5.79 1.37 7.53 3.11l2.36 2.36a4.94 4.94 0 0 0 5.24.85l.84-.43a6.1 6.1 0 0 0 3.03-4.87V145h-35.02a8.08 8.08 0 0 1-6.66-4.13l-.43-.84a6.91 6.91 0 0 1 1.22-7.56l2.36-2.36A10.06 10.06 0 0 0 107 124a11 11 0 0 0-22 0c0 1.94 1.16 4.75 2.53 6.11l2.36 2.36a6.93 6.93 0 0 1 1.22 7.56l-.43.84a8.08 8.08 0 0 1-6.66 4.13H49v35.02a6.1 6.1 0 0 0 3.03 4.87l.84.43c1.58.79 4 .4 5.24-.85l2.36-2.36a12.04 12.04 0 0 1 7.51-3.11A13 13 0 0 1 81 192h-2a11 11 0 0 0-11-11c-1.94 0-4.75 1.16-6.11 2.53l-2.36 2.36a6.93 6.93 0 0 1-7.56 1.22l-.84-.43a8.08 8.08 0 0 1-4.13-6.66V145H11.98a6.1 6.1 0 0 0-4.87 3.03l-.43.84c-.79 1.58-.4 4 .85 5.24l2.36 2.36a12.04 12.04 0 0 1 3.11 7.51A13 13 0 0 1 0 177v-2a11 11 0 0 0 11-11c0-1.94-1.16-4.75-2.53-6.11l-2.36-2.36a6.93 6.93 0 0 1-1.22-7.56l.43-.84a8.08 8.08 0 0 1 6.66-4.13H47v-35.02a6.1 6.1 0 0 0-3.03-4.87l-.84-.43c-1.59-.8-4-.4-5.24.85l-2.36 2.36A12 12 0 0 1 28 109a13 13 0 1 1 0-26c2.47 0 5.79 1.37 7.53 3.11l2.36 2.36a4.94 4.94 0 0 0 5.24.85l.84-.43A6.1 6.1 0 0 0 47 84.02V49H11.98a8.08 8.08 0 0 1-6.66-4.13l-.43-.84a6.91 6.91 0 0 1 1.22-7.56l2.36-2.36A10.06 10.06 0 0 0 11 28 11 11 0 0 0 0 17v-2a13 13 0 0 1 13 13c0 2.47-1.37 5.79-3.11 7.53l-2.36 2.36a4.94 4.94 0 0 0-.85 5.24l.43.84A6.1 6.1 0 0 0 11.98 47H47V11.98a8.08 8.08 0 0 1 4.13-6.66l.84-.43a6.91 6.91 0 0 1 7.56 1.22l2.36 2.36A10.06 10.06 0 0 0 68 11 11 11 0 0 0 79 0h2a13 13 0 0 1-13 13 12 12 0 0 1-7.53-3.11l-2.36-2.36a4.93 4.93 0 0 0-5.24-.85l-.84.43A6.1 6.1 0 0 0 49 11.98V47h35.02a8.08 8.08 0 0 1 6.66 4.13l.43.84a6.91 6.91 0 0 1-1.22 7.56l-2.36 2.36A10.06 10.06 0 0 0 85 68a11 11 0 0 0 22 0c0-1.94-1.16-4.75-2.53-6.11l-2.36-2.36a6.93 6.93 0 0 1-1.22-7.56l.43-.84a8.08 8.08 0 0 1 6.66-4.13H143V11.98a6.1 6.1 0 0 0-3.03-4.87l-.84-.43c-1.59-.8-4-.4-5.24.85l-2.36 2.36A12 12 0 0 1 124 13a13 13 0 0 1-13-13h2a11 11 0 0 0 11 11c1.94 0 4.75-1.16 6.11-2.53l2.36-2.36a6.93 6.93 0 0 1 7.56-1.22l.84.43a8.08 8.08 0 0 1 4.13 6.66V47h35.02a6.1 6.1 0 0 0 4.87-3.03l.43-.84c.8-1.59.4-4-.85-5.24l-2.36-2.36A12 12 0 0 1 179 28a13 13 0 0 1 13-13zM84.02 143a6.1 6.1 0 0 0 4.87-3.03l.43-.84c.8-1.59.4-4-.85-5.24l-2.36-2.36A12 12 0 0 1 83 124a13 13 0 1 1 26 0c0 2.47-1.37 5.79-3.11 7.53l-2.36 2.36a4.94 4.94 0 0 0-.85 5.24l.43.84a6.1 6.1 0 0 0 4.87 3.03H143v-35.02a8.08 8.08 0 0 1 4.13-6.66l.84-.43a6.91 6.91 0 0 1 7.56 1.22l2.36 2.36A10.06 10.06 0 0 0 164 107a11 11 0 0 0 0-22c-1.94 0-4.75 1.16-6.11 2.53l-2.36 2.36a6.93 6.93 0 0 1-7.56 1.22l-.84-.43a8.08 8.08 0 0 1-4.13-6.66V49h-35.02a6.1 6.1 0 0 0-4.87 3.03l-.43.84c-.79 1.58-.4 4 .85 5.24l2.36 2.36a12.04 12.04 0 0 1 3.11 7.51A13 13 0 1 1 83 68a12 12 0 0 1 3.11-7.53l2.36-2.36a4.93 4.93 0 0 0 .85-5.24l-.43-.84A6.1 6.1 0 0 0 84.02 49H49v35.02a8.08 8.08 0 0 1-4.13 6.66l-.84.43a6.91 6.91 0 0 1-7.56-1.22l-2.36-2.36A10.06 10.06 0 0 0 28 85a11 11 0 0 0 0 22c1.94 0 4.75-1.16 6.11-2.53l2.36-2.36a6.93 6.93 0 0 1 7.56-1.22l.84.43a8.08 8.08 0 0 1 4.13 6.66V143h35.02z'%3E%3C/path%3E%3C/svg%3E");
}

#App__body {
  width: 85%;
  margin: 0 auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  text-shadow: 6px 7px 8px rgb(109, 109, 157);
  font-family: 'Do Hyeon', sans-serif;
  font-size: 100px;
  background-color: whitesmoke;
  padding: 37px 0 10px;
  margin: 0;
}

h2 {
  font-family: 'Do Hyeon', sans-serif;
  font-size: 100px;
  margin: 30px auto 40px;
  font-size: 40px;
}

h2> * {
  margin: 20px auto 30px;
  font-size: 40px;
}

h3{
  font-family: 'Do Hyeon', sans-serif;
  margin: auto 0px 6px;
  font-size: 35px;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: black;
  margin: 0;
  border-radius: 0;
  border: none
}

.nav__dropdown {
  width: max-content;
  margin: 0 auto;
}

.nav__dropdown-link {
  font-size: 22px;
  border: none;
  text-align: center;
}

#nav {
  background-color: whitesmoke;
  border-bottom: 2px solid black;
}

#nav__p {
  background-color: #000000;
  color: whitesmoke;
}

.Dropdown-placeholder, .Dropdown-option {
  font-size: 22px;
}

.nav__link {
  margin: 0 3px;
  width: 120px;
  text-align: center;
  background-color: #e3f4f5;
  font-size: 22px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.home__welcome {
  margin: 80px auto;
  font-size: 90px;
  line-height: 2ch;
  text-shadow: black 4px 4px, rgb(220, 178, 80) 7px 7px, black 10px 10px;
}

#home__intro {
  background-color: whitesmoke;
  width: fit-content;
  margin: 0 auto;
  padding: 20px;
  font-size: 24px;
  border: 2px solid black;
  border-radius: 20px;
}

ul {
  margin: 20px auto 30px;
  padding: 0;
}

li {
  list-style-type: none;
  text-align: left;
  border: 2px solid rgb(0, 0, 0);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 5px auto;
  max-width: 600px;
}

.articles__preview {
  width: 400px;
}

#articles__sort {
  font-size: 24px;
}

.articles__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.articles__list li {
  margin: 7px;
}

.articles-preview__votes {
  background-color: #000000;
}

.article-card__details, .articles__loading, 
.comment-card__details, .single-article__loading {
  background-color: black;
  color: whitesmoke;
  padding: 0 10px;
}

.article__li-div, .comment-card__body  {
  font-size: 24px;
  padding: 5px;
  height: 6ch;
  background-color: rgb(254, 254, 254);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0 0 5px 3px inset hsl(201, 30%, 50%);
}

.article-card__title {
  font-size: 28px;
  line-height: 2ch;
}

.article-preview__img {
  aspect-ratio: 1;
  box-sizing: border-box;
  object-fit: cover;
  height: 80px;
  border: 2px solid black;
  background-color: hsl(201, 30%, 50%);
  border-radius: 10%;
  margin-right: 5px
}

.avatar__name {
  font-size: 18px;
  align-self: center;
  line-height: 17px;
}

.article__li-div {
  height: 80px;
  display: flex;
  justify-content: flex-start;
}

.articles__loading, .single-article__loading, .topics__loading {
  margin: 50px auto;
  max-width: 400px;
}

.nav__loading, .topics__loading {
  margin: 30px auto;
  max-width: 400px;
  border-radius: 0;
  border: none;
  background-color: black;
  color: whitesmoke;
  padding: 0 10px;
  font-size: 20px;
}

.single-article, .comments {
  text-align: left;
}

article {
  font-size: 24px;
  background-color: #ffffff;
  padding: 5px;
  margin-bottom: 4vw;
  box-shadow: 10px 10px 10px hsl(88, 20%, 20%, 90%);
}

.single-article__author {
  font-size: 24px;
  background-color: black;
  color: whitesmoke;
  padding: 6px 0 7px 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.comment-card__votes {
  float: right;
  margin-right: 5px;
}

.comment-card__body, .comments__article, .topics__topic {
  margin-bottom: 25px;
  display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;  
overflow: hidden;
text-overflow: ellipsis;
}

.topics__topic  {
  -webkit-line-clamp: 3;
}

.comment-card__body{
 margin: auto;
}

.comments__article:hover {
  display: block;
}

.single-article__buttons {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

button {
  margin: 0 5px 10px;
  font-size: 22px;
  font-family: 'Do Hyeon', sans-serif;
  font-weight: lighter;
  padding: 2px 5px;
  background-color: hsl(201deg 30% 20%);
  color: whitesmoke;
  border-radius: 5px;
}

#button__top {
  margin-bottom: 30px;
}

button:active, #topic__submit:active{
  background-color: orangered;
  color: yellow;
}

#single-article__link {
  color: whitesmoke;
  font-size: 23px;
}

.comment__full {
  background-color: white;
  width: 100%;
  border: none;
  max-width: 1000px;
  margin-bottom: 30px;
  box-shadow: 10px 10px 10px hsl(88, 20%, 20%, 90%);
}

.comment__details {
  font-size: 24px;
  padding: 2px 10px;
  background-color: black;
  color: whitesmoke;
  line-height: 2.5ch;
}

.comment__body {
  font-size: 24px;
  padding: 2px 10px;
  margin-bottom: 10px;
}

.comments__article {
  background-color: #f2f1ed;
}

.votes__buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 12px 0 0
}

.votes__count {
  font-family: 'Do Hyeon', sans-serif;
  margin: 5px 10px 0 10px;
  font-size: 22px;
}

.--positive {
color: rgb(3, 195, 54);
text-shadow: 0 0 3px #eeff03;
}

.--negative {
color: red;
text-shadow: 0 0 1px red;
}

.comments__new, #topic__submit {
  display: block;
  margin: 0 auto 20px;
  font-size: 25px;
  background-color: rgb(245, 207, 71);
  color: black;
}

.--green {
  background-color: rgb(1, 57, 1);
  color: yellow;
}

.--red {
  color: red;
  font-weight: bold;
  cursor: not-allowed;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

textarea {
  font-family: 'Patrick Hand';
  margin: 10px auto;
  display: block;
  width: 50%;
  height: 200px;
}

.single-article--float {
  float: right;
}

.comments__h2 {
  font-weight: lighter;
}

.single-article__current, .comments__confirmation, .topic__confirmation, .comments__error {
  text-align: center;
  margin: 10px auto 30px;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: whitesmoke;
  box-shadow: 10px 10px 10px hsl(88, 20%, 20%, 90%);
  font-weight: bold;
}

.comments__error {
  background-color: rgb(248, 49, 49);
  color: black;
  margin: 0 auto;
  max-width: 998px;
}

.comments__confirmation, .topic__confirmation {
  font-size: 24px;
  background-color: rgb(2, 182, 2);
}

#login__form {
  height: 57px;
  display: flex;
  justify-content: flex-end;
  background-color: #000000;
  padding: 0 0 5px;
}

.login__label {
  color: whitesmoke;
  font-size: 21px;
}

#username, #password {
font-size: 18px;
color: black;
width: 150px;
max-width: 200px
}

.login__img {
  object-fit: cover;
  height: 40px;
  width: 40px;
  border-radius: 50%;;
  border: 2px solid rgb(51, 64, 87);
  margin: 10px 0;
}

.login__error {
width: fit-content;
color: red;
margin: 16px auto 0
}

.login__logged-in {
  color: whitesmoke;
  margin: 17px 10px 0 0
}

.login__field {
  display: inline;
}

#login__button, #logout__button {
  background-color: rgb(165, 165, 165);
  color: black;
  font-size: 16px;
  height: fit-content;
  padding: 3.5px 9px;
  margin: 17px 16px;
}

#login__button:active {
  background-color: rgb(0, 4, 255);
  color: yellow
}

select {
  background-color: rgb(47, 47, 47);
  color: whitesmoke;
  padding: 3px;
  border-radius: 5px;
}

.error {
  background-color: red;
  font-weight: bold;
  box-shadow: 10px 10px 10px hsl(88, 20%, 20%, 90%);
  margin: 40px auto;
}

.topic__title {
  display: flex;
  justify-content: space-between;
  background-color: rgb(254, 254, 254);
  box-shadow: 0 0 5px 3px inset hsl(201, 30%, 50%);
  color: black;
  padding: 2px 6px
}
.topic__title > p {
  font-size: 27px;
}
.--empty-topic {
  box-shadow: 0 0 20px 3px inset hsl(39, 100%, 50%)
}


.topics__list {
  max-width: 600px;
}
.--flex {
  display: flex;
  flex-wrap: wrap;
  max-width: none;
  align-items: stretch;
  justify-content: center;
}



.topics__topic {
  font-size: 27px;
  color: whitesmoke;
  background-color: #000000;
  padding: 3px;
  border-radius: 10px;
  margin: 10px auto
}
.--flex-item {
  margin: 5px;
  width: 90%;
  max-width: 400px
}



.topics__h2 {
  margin: 40px auto 0;
}

#topic__form {
  background-color: whitesmoke;
  width: 80%;
  max-width: 600px;
  margin: 20px auto 30px;
  padding-bottom: 9px;
  height: 318px;
  box-shadow: 10px 10px 10px hsl(88, 20%, 20%, 90%);
}

.topic__form-label {
  box-sizing: border-box;
  background-color: #000000;
  text-align: left;
  display: block;
  padding: 3px 20px 6px 6px;
  font-size: 24px;
  color: whitesmoke;
  width: 100%;
}

textarea#topic__body {
  font-family: 'Patrick Hand';
  margin: 0 30px 6px 6px;
  width: 97%;
  height: 150px;
  font-size: 24px;
}

#topic__new-topic {
  font-size: 24px;
  font-family: 'Patrick Hand';
  width: 97%;
  display: block;
  margin: 0 0 0 5px;
}

.topic__delete {
  margin: 2px 0;
  cursor: pointer;
}

@media (max-width: 868px) {
  .articles__preview {
    width: 80vw;
  }
}

@media (max-width: 600px) {
  .login__field {
    display: block;
  }

  #login__form {
   height: 75px
  }

  #login__button {
    margin: 3px 6px 0 0;
    float: right;
    height: 20px;
    padding: 0 7px 18px 4px;
    font-size: 14px;
    width: 108px
  }

  #username, #password {
    width: 100px;
    font-size: 12px;
    }

  #username {
    margin-right: 7px
  }

  .login__label  {
    font-size: 14px;
  }

  .login__logged-in {
    margin: 20px 20px 0 0;
  }

  p {
    font-size: 17px;
  }

  .topics__topic {
    font-size: 22px;
  }

  .topic__title {
    font-size: 24px;
  }

  .articles__preview {
    width: 90vw;
  }

  .votes__buttons {
    flex-direction: column;
    margin: 0 auto;
    align-content: center;
  }

  .votes__buttons > * {
    text-align: center;
    width: 200px;
    font-size: 17px;
    margin: 0 auto 6px
  }

  h1 {
    font-size: 60px;
    padding: 20px 0 10px;
  }

  .nav__link {
    font-size: 20px;
    width: fit-content;
    padding: 2px 5px
  }

  .nav__topics {
    flex-direction: column;
    align-content: center;
    padding: 4px;
    width: 170px
  }

  .nav__topic-li {
    margin: 3px;
    width: 150px;
  }

  textarea#topic__body, #topic__new-topic {
    width: 95%;
    font-size: 16px;
  }

  #comments__new {
    width: 80%;
    font-size: 17px;
  }
}

@media (max-width: 1000px) {
  #App__body {
  width: 97%;
  margin: 0 auto;
}
}
