@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Gloria+Hallelujah&display=swap');

* {
  margin: 0;
  font-size: 20px;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  font-family: 'Gloria Hallelujah', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f1ebc7;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%23a19da8' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M11 0l5 20H6l5-20zm42 31a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM0 72h40v4H0v-4zm0-8h31v4H0v-4zm20-16h20v4H20v-4zM0 56h40v4H0v-4zm63-25a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM53 41a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-30 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-28-8a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zM56 5a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zm-3 46a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM21 0l5 20H16l5-20zm43 64v-4h-4v4h-4v4h4v4h4v-4h4v-4h-4zM36 13h4v4h-4v-4zm4 4h4v4h-4v-4zm-4 4h4v4h-4v-4zm8-8h4v4h-4v-4z'/%3E%3C/g%3E%3C/svg%3E");
}

#App__body {
  width: 85%;
  margin: 0 auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-family: 'Concert One', cursive;
  font-size: 100px;
  background-color: whitesmoke;
  padding: 10px 0 60px;
  margin: 0;
}

h2 {
  font-family: 'Concert One', cursive;
  font-size: 100px;
  margin: 30px auto 40px;
  font-size: 40px;
}

h2> * {
  margin: 20px auto 30px;
  font-size: 40px;
}

h3{
  margin: 0px auto;
  font-size: 35px;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: black;
  margin: 0;
  border-radius: 0;
  border: none
}

#nav {
  background-color: whitesmoke;
}

#nav__p {
  background-color: #000000;
  color: whitesmoke;
}

.nav__link {
  margin: 0 3px;
  width: 120px;
  text-align: center;
  background-color: #f1ebc7;
  font-size: 20px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.home__welcome {
  margin: 80px auto;
  font-size: 90px;
  line-height: 2ch;
  text-shadow: black 4px 4px, rgb(220, 178, 80) 7px 7px, black 10px 10px;
}

ul {
  margin: 20px auto 30px;
  padding: 0;
}

li {
  list-style-type: none;
  text-align: left;
  border: 2px solid rgb(73, 64, 4);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 10px auto;
  background-color: #f1ebc7;
  width: 70vw;
  max-width: 600px;
  background-color: hsl(12, 20%, 50%, 90%);
}

.article-card__details, .articles__loading, 
.comment-card__details, .single-article__loading {
  background-color: black;
  color: whitesmoke;
  padding: 0 10px;
}

.article-card__title, .comment-card__body  {
  padding: 5px;
  background-color: rgb(246, 241, 217);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0 0 10px 3px inset hsl(12, 20%, 50%, 90%);
}

.articles__loading, .single-article__loading {
  margin: 50px auto;
  max-width: 400px;
}

.nav__loading {
  margin: 30px auto;
  max-width: 400px;
  border-radius: 0;
  border: none;
  background-color: black;
  color: whitesmoke;
  padding: 0 10px;
  font-size: 20px;
}

.single-article, .comments {
  text-align: left;
}

article {
  background-color: #ffffff;
  padding: 5px;
  margin-bottom: 4vw;
  box-shadow: 10px 10px 10px hsl(88, 20%, 20%, 90%);
}

.single-article__author {
  background-color: black;
  color: whitesmoke;
  padding: 2px 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.comment-card__votes {
  float: right;
  margin-right: 5px;
}

.comment-card__body, .comments__article  {
  display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;  
overflow: hidden;
text-overflow: ellipsis;
}

.comments__article:hover {
  display: block;
}

.single-article__buttons {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

button {
  margin: 0 5px 10px;
  font-size: 20px;
  padding: 6px;
  background-color: rgb(78, 69, 3);
  color: whitesmoke;
  border-radius: 10px;
}

#button__top {
  margin-bottom: 30px;
}

button:active{
  background-color: orangered;
  color: yellow;
}

#single-article__link {
  color: whitesmoke;
}

.comment__full {
  background-color: white;
  width: 100%;
  border: none;
  max-width: 1000px;
  margin-bottom: 30px;
  box-shadow: 10px 10px 10px hsl(88, 20%, 20%, 90%);
}

.comment__details {
  padding: 2px 10px;
  background-color: rgb(44, 40, 1);
  color: whitesmoke;
  line-height: 2.5ch;
}

.comment__body {
  padding: 2px 10px;
  margin-bottom: 10px;
}

.comments__article {
  background-color: #f2f1ed;
}

.votes__buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 18px 0 0
}

.votes__count {
  margin: 0 10px;
  font-size: larger;
}

.--positive {
color: green;
text-shadow: 1px 1px 2px rgb(59, 249, 49);
}

.--negative {
color: red;
text-shadow: 1px 1px 3px red;
}

.comments__new {
  display: block;
  margin: 0 auto 20px;
  font-size: 25px;
  background-color: rgb(245, 207, 71);
  color: black;
}

.--green {
  background-color: rgb(1, 57, 1);
  color: yellow;
}

.--red {
  color: red;
  font-weight: bold;
  cursor: not-allowed;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

textarea {
  margin: 10px auto;
  display: block;
  width: 50%;
  height: 200px
}

.single-article--float {
  float: right;
}

.comments__h2 {
  font-weight: lighter;
}

.single-article__current, .comments__confirmation, .comments__error {
  text-align: center;
  margin: 10px auto 30px;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: whitesmoke;
  box-shadow: 10px 10px 10px hsl(88, 20%, 20%, 90%);
  font-weight: bold;
}

.comments__error {
  background-color: rgb(248, 49, 49);
  color: black;
  margin: 0 auto;
  max-width: 998px;
}

.comments__confirmation {
  background-color: rgb(2, 182, 2);
}

#login__form {
  display: flex;
  justify-content: flex-end;
  background-color: #000000;
  padding: 0 0 5px;
}

label {
  color: whitesmoke;
  font-size: 18px;
}

input {
  font-size: 18px;
color: black;
width: 17vw;
max-width: 200px
}

.login__img {
  height: 45px;
}

.login__error {
width: fit-content;
color: red;
margin: 0 auto
}

.login__logged-in {
  color: whitesmoke;
  margin: 3px 10px 0 0
}

#login__button, #logout__button {
  background-color: rgb(165, 165, 165);
  color: black;
  font-size: 16px;
  height: fit-content;
  padding: 3.5px 9px;
  margin: 8px 10px 0
}

#login__button:active {
  background-color: rgb(0, 4, 255);
  color: yellow
}

select {
  background-color: rgb(47, 47, 47);
  color: whitesmoke;
  padding: 3px;
  border-radius: 5px;
}

.error {
  background-color: red;
  font-weight: bold;
  box-shadow: 10px 10px 10px hsl(88, 20%, 20%, 90%);
  margin-bottom: 40px
}

@media (max-width: 600px) {
  p {
    font-size: 17px;
  }

  .votes__buttons {
    flex-direction: column;
    margin: 0 auto;
    align-content: center;
  }

  .votes__buttons > * {
    text-align: center;
    width: 200px;
    font-size: 17px;
    margin: 0 auto 6px
  }

  h1 {
    font-size: 70px;
    padding-bottom: 50px;
  }

  .nav__link {
    font-size: 17px;
    width: fit-content;
    padding: 2px 5px
  }

  .nav__topics {
    flex-direction: column;
    align-content: center;
    padding: 4px;
    width: 170px
  }

  .nav__topic-li {
    margin: 3px;
    width: 150px;
  }
}